apiVersion: apps/v1
kind: Deployment
metadata:
  name: titconn-hub-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: titconn-hub
  template:
    metadata:
      labels:
        app: titconn-hub
    spec:
      containers:
      - name: titconn-hub-container
        image: images.teknobulut.net/titconn/titconn-hub:2026.1.5.7
        imagePullPolicy: Always
        env:
            - name: ASPNETCORE_URLS
      imagePullSecrets:
      - name: harborsecret
---
apiVersion: v1
kind: Service
metadata:
  name: titconn-hub-service
  labels:
   app: titconn-hub-service
spec:
  selector:
    app: titconn-hub
  ports:
    - port: 8080
      protocol: TCP
      targetPort: 8080
  type: ClusterIP
---
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: titconn-hub-ingress
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: letsencrypt-dns01
    nginx.ingress.kubernetes.io/force-ssl-redirect: 'true'
    nginx.ingress.kubernetes.io/proxy-connect-timeout: '300'
    nginx.ingress.kubernetes.io/proxy-read-timeout: '300'
    nginx.ingress.kubernetes.io/proxy-send-timeout: '300'
    nginx.ingress.kubernetes.io/ssl-passthrough: 'true'
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - titconn-hub.teknobulut.net
      secretName: titconn-hub-teknobulut-net-tls
  rules:
    - host: titconn-hub.teknobulut.net
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
               service:
                 name: titconn-hub-service
                 port: 
                   number: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: titconn-api-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: titconn-api
  template:
    metadata:
      labels:
        app: titconn-api
    spec:
      containers:
      - name: titconn-api-container
        image: images.teknobulut.net/titconn/titconn-api:2026.1.5.7
        imagePullPolicy: Always
        env:
            - name: ASPNETCORE_URLS
      imagePullSecrets:
      - name: harborsecret
---
apiVersion: v1
kind: Service
metadata:
  name: titconn-api-service
  labels:
   app: titconn-api-service
spec:
  selector:
    app: titconn-api
  ports:
    - port: 8080
      protocol: TCP
      targetPort: 8080
  type: ClusterIP
---
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: titconn-api-ingress
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-dns01
    nginx.ingress.kubernetes.io/force-ssl-redirect: 'true'
    nginx.ingress.kubernetes.io/proxy-connect-timeout: '300'
    nginx.ingress.kubernetes.io/proxy-read-timeout: '300'
    nginx.ingress.kubernetes.io/proxy-send-timeout: '300'
    nginx.ingress.kubernetes.io/ssl-passthrough: 'true'
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - titconn-api.teknobulut.net
      secretName: titconn-api-teknobulut-net-tls
  rules:
    - host: titconn-api.teknobulut.net
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
               service:
                 name: titconn-api-service
                 port: 
                   number: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: titconn-microservice-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: titconn-microservice
  template:
    metadata:
      labels:
        app: titconn-microservice
    spec:
      containers:
      - name: titconn-microservice-container
        image: images.teknobulut.net/titconn/titconn-microservice:2026.1.5.7
        imagePullPolicy: Always
        env:
            - name: ASPNETCORE_URLS
      imagePullSecrets:
      - name: harborsecret
---
apiVersion: v1
kind: Service
metadata:
  name: titconn-microservice-service
  labels:
   app: titconn-microservice-service
spec:
  selector:
    app: titconn-microservice
  ports:
    - port: 8080
      protocol: TCP
      targetPort: 8080
  type: ClusterIP
---
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: titconn-microservice-ingress
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-dns01
    nginx.ingress.kubernetes.io/force-ssl-redirect: 'true'
    nginx.ingress.kubernetes.io/proxy-connect-timeout: '300'
    nginx.ingress.kubernetes.io/proxy-read-timeout: '300'
    nginx.ingress.kubernetes.io/proxy-send-timeout: '300'
    nginx.ingress.kubernetes.io/ssl-passthrough: 'true'
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - titconn-microservice.teknobulut.net
      secretName: titconn-microservice-teknobulut-net-tls
  rules:
    - host: titconn-microservice.teknobulut.net
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
               service:
                 name: titconn-microservice-service
                 port: 
                   number: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: titconn-scheduler-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: titconn-scheduler
  template:
    metadata:
      labels:
        app: titconn-scheduler
    spec:
      containers:
      - name: titconn-scheduler-container
        image: images.teknobulut.net/titconn/titconn-scheduler:2026.1.5.7
        imagePullPolicy: Always
        env:
            - name: ASPNETCORE_URLS
      imagePullSecrets:
      - name: harborsecret
---
apiVersion: v1
kind: Service
metadata:
  name: titconn-scheduler-service
  labels:
   app: titconn-scheduler-service
spec:
  selector:
    app: titconn-scheduler
  ports:
    - port: 8080
      protocol: TCP
      targetPort: 8080
  type: ClusterIP
---
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: titconn-scheduler-ingress
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-dns01
    nginx.ingress.kubernetes.io/force-ssl-redirect: 'true'
    nginx.ingress.kubernetes.io/proxy-connect-timeout: '300'
    nginx.ingress.kubernetes.io/proxy-read-timeout: '300'
    nginx.ingress.kubernetes.io/proxy-send-timeout: '300'
    nginx.ingress.kubernetes.io/ssl-passthrough: 'true'
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - titconn-scheduler.teknobulut.net
      secretName: titconn-scheduler-teknobulut-net-tls  
  rules:
    - host: titconn-scheduler.teknobulut.net
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
               service:
                 name: titconn-scheduler-service
                 port: 
                   number: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: titconn-grpcservice-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: titconn-grpcservice
  template:
    metadata:
      labels:
        app: titconn-grpcservice
    spec:
      containers:
      - name: titconn-grpcservice-container
        image: images.teknobulut.net/titconn/titconn-grpcservice:2026.1.5.7
        imagePullPolicy: Always
        env:
            - name: ASPNETCORE_URLS
      imagePullSecrets:
      - name: harborsecret
---
apiVersion: v1
kind: Service
metadata:
  name: titconn-grpcservice-service
  labels:
   app: titconn-grpcservice-service
spec:
  selector:
    app: titconn-grpcservice
  ports:
    - port: 8080
      protocol: TCP
      targetPort: 6001
  type: ClusterIP
---
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: titconn-grpcservice-ingress
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-dns01
    nginx.ingress.kubernetes.io/force-ssl-redirect: 'true'
    nginx.ingress.kubernetes.io/proxy-connect-timeout: '300'
    nginx.ingress.kubernetes.io/proxy-read-timeout: '300'
    nginx.ingress.kubernetes.io/proxy-send-timeout: '300'
    nginx.ingress.kubernetes.io/ssl-passthrough: 'true'
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - titconn-grpcservice.teknobulut.net
      secretName: titconn-grpcservice-teknobulut-net-tls
  rules:
    - host: titconn-grpcservice.teknobulut.net
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
               service:
                 name: titconn-grpcservice-service
                 port: 
                   number: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: titconn-app-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: titconn-app
  template:
    metadata:
      labels:
        app: titconn-app
    spec:
      containers:
      - name: titconn-app-container
        image: images.teknobulut.net/titconn/titconn-app:2026.1.5.7
        imagePullPolicy: Always
        env:
            - name: ASPNETCORE_URLS
      imagePullSecrets:
      - name: harborsecret
---
apiVersion: v1
kind: Service
metadata:
  name: titconn-app-service
  labels:
   app: titconn-app-service
spec:
  selector:
    app: titconn-app
  ports:
    - port: 8080
      protocol: TCP
      targetPort: 8080
  type: ClusterIP
---
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: titconn-app-ingress
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-dns01
    nginx.ingress.kubernetes.io/force-ssl-redirect: 'true'
    nginx.ingress.kubernetes.io/proxy-connect-timeout: '300'
    nginx.ingress.kubernetes.io/proxy-read-timeout: '300'
    nginx.ingress.kubernetes.io/proxy-send-timeout: '300'
    nginx.ingress.kubernetes.io/ssl-passthrough: 'true'
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - titconn-app.teknobulut.net
      secretName: titconn-app-teknobulut-net-tls
  rules:
    - host: titconn-app.teknobulut.net
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
               service:
                 name: titconn-app-service
                 port: 
                   number: 8080
