apiVersion: apps/v1
kind: Deployment
metadata:
  name: titconn-keyvault-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: titconn-keyvault
  template:
    metadata:
      labels:
        app: titconn-keyvault
    spec:
      containers:
      - name: titconn-keyvault-container
        image: images.teknobulut.net/titconnbr/titconn-keyvault:2025.12.5.3
        imagePullPolicy: Always
        env:
            - name: ASPNETCORE_URLS
      imagePullSecrets:
      - name: harborsecret
---
apiVersion: v1
kind: Service
metadata:
  name: titconn-keyvault-service
  labels:
   app: titconn-keyvault-service
spec:
  selector:
    app: titconn-keyvault
  ports:
    - port: 8080
      protocol: TCP
      targetPort: 8080
  type: ClusterIP
---
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: titconn-keyvault-ingress
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
spec:
  ingressClassName: nginx
  rules:
    - host: keyvault.brmagazacilik.com.tr
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
               service:
                 name: titconn-keyvault-service
                 port: 
                   number: 8080
